registry=https://pkgs.dev.azure.com/Tailspin1515/_packaging/Tailspin1515/npm/registry/always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 12/8/2019.
; begin auth token
//pkgs.dev.azure.com/Tailspin1515/_packaging/Tailspin1515/npm/registry/:username=Tailspin1515
//pkgs.dev.azure.com/Tailspin1515/_packaging/Tailspin1515/npm/registry/:_password=ZmdtNDQyN2MzZXJjMjZndHN3aHJvdTdoYjZhcXBjZzJ0c3ZyaWtobXcybGVwcXBkeG1wcQ==
//pkgs.dev.azure.com/Tailspin1515/_packaging/Tailspin1515/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/Tailspin1515/_packaging/Tailspin1515/npm/:username=Tailspin1515
//pkgs.dev.azure.com/Tailspin1515/_packaging/Tailspin1515/npm/:_password=ZmdtNDQyN2MzZXJjMjZndHN3aHJvdTdoYjZhcXBjZzJ0c3ZyaWtobXcybGVwcXBkeG1wcQ==
//pkgs.dev.azure.com/Tailspin1515/_packaging/Tailspin1515/npm/:email=npm requires email to be set but doesn't use the value
; end auth token